
<!DOCTYPE html>
<html>
<head>
<title>Lam's Gaming Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="gaming blog" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/index/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/index/css/style.css" rel='stylesheet' type='text/css' />
<script src="/index/js/jquery.min.js"></script>
<script src="/index/js/test.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/index/js/move-top.js"></script>
<script type="text/javascript" src="/index/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-top-starts-->
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href="index.html"><img src="/index/images/lamlogo.png" alt="" /></a>
			</div>
		</div>
	</div>
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						{{#if user}}
			            <li><a href="/"  class="active">Home</a></li>
			            <li><a href="/blog">Blog</a></li>
			            <li><a href="/about">About</a></li>
			            <li><a href="/contact">Contact</a></li>
			            <li><a href="/users/logout">Logout</a></li>
			            {{else}}
			            <li><a href="/"  class="active">Home</a></li>
			            <li><a href="/blog">Blog</a></li>
			            <li><a href="/about">About</a></li>
			            <li><a href="/contact">Contact</a></li>
			            <li><a href="/users/login">Sign In</a></li>
			            <li><a href="/users/register">Register</a></li>
			            {{/if}}
					</ul>
			</div>
			<div class="header-right">
				<ul>
					<li><a href="#"><span class="fb"> </span></a></li>
					<li><a href="#"><span class="twit"> </span></a></li>
					<li><a href="#"><span class="pin"> </span></a></li>
					<li><a href="#"><span class="rss"> </span></a></li>
					<li><a href="#"><span class="drbl"> </span></a></li>
				</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!-- script-for-menu -->
	<!----start-contact---->
	<div class="contact">
		<div class="container">
			<div class="contact-top">
				<h3>Submit New Blog</h3>
			</div>
			<div class="contact-bottom">
				<div class="contact-text">
					<div class="col-md-4 contact-left">
						<h4>Add to the community</h4>
						<p>Simply input the game of our choice, and feel free to leave any sort of review or thoughts on the game. This is your chance to express yourself.
						Once finished, head over to the blog section to view your post!</p>
					</div>	

						<div class="col-md-8 contact-right">
							<form name="blogpost" id="blogsubmit">
								<input placeholder="Game Title" type="text" required placeholder="Title" name="title">
								<input placeholder="Image URL example: https://yourimg.com" type="text" required placeholder="Url" name="url">
								<textarea placeholder="Express yourself" required placeholder="Review" name="review"></textarea>
								<div class="submit-btn">
								<input type="submit" value="SUBMIT" onclick="location.href = '/';">
								</div>	
							</form>
						</div>

					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!----end-contact---->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>© 2017 Lam Nguyen All Rights Reserved</p>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>
</html>